*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

margin:0;

padding:0;

background:#061626;

color:white;

font-family:Arial,Helvetica,sans-serif;

overflow:hidden;

}
.container{

width:100%;

max-width:1920px;

margin:auto;

padding:25px;

display:grid;

grid-template-areas:
"header"
"time"
"info"
"notice"
"stations";

row-gap:20px;

}

/* ===========================
            HEADER
=========================== */

.top-header{

display:grid;

grid-template-columns:220px 1fr 340px;

align-items:center;

gap:30px;

margin-bottom:25px;

}

.header-left{

display:flex;
justify-content:flex-start;

}

.logo{

width:220px;

height:auto;

}

.header-center{

text-align:center;

}

.header-center h1{

font-size:72px;

font-weight:800;

letter-spacing:8px;

}

.header-center h2{

font-size:26px;

margin-top:6px;

}

.header-center p{

font-size:17px;

margin-top:6px;

color:#8fb3d9;

}

.weather-card{

background:#0d2d49;

border-radius:18px;

padding:18px;

border:1px solid rgba(255,255,255,.08);

}

.weather-title{

font-size:15px;

color:#8fb3d9;

margin-bottom:12px;

font-weight:700;

}

.weather-temp{

font-size:46px;

font-weight:800;

margin-bottom:10px;

}

.weather-info{

font-size:16px;

margin-bottom:6px;

}

.weather-date{

margin-top:14px;

font-size:15px;

color:#b8d2ea;

}
/* ===========================
        TIME & DATE
=========================== */

.grid4{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:14px;

    margin-bottom:18px;

}
.card{

background:linear-gradient(180deg,#123f67,#0d2d49);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

padding:28px;

box-shadow:0 8px 25px rgba(0,0,0,.35);

transition:.25s;

}

.title{

display:block;

font-size:22px;

font-weight:700;

letter-spacing:2px;

color:#78b8ff;

margin-bottom:18px;

text-transform:uppercase;

}

.value{

font-size:82px;

font-weight:800;

text-align:center;

letter-spacing:3px;

color:#ffffff;

}

.value-small{

font-size:32px;

font-weight:600;

line-height:1.5;

color:white;

}

.top-header{
grid-area:header;
}

.grid1:first-of-type{
grid-area:time;
}

.grid2{
grid-area:info;
}

.grid1:last-of-type{
grid-area:notice;
}

.fire-stations{
grid-area:stations;
}