*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Inter',sans-serif;

    background:#071B2F;

    color:white;

}
.container{

width:100%;

max-width:1920px;

margin:auto;

padding:25px;

display:grid;

grid-template-areas:
"header"
"time"
"info"
"notice"
"stations";

row-gap:20px;

}

/* ===========================
            HEADER
=========================== */

.top-header{

display:grid;

grid-template-columns:220px 1fr 340px;

align-items:center;

gap:30px;

margin-bottom:25px;

}

.header-left{

display:flex;
justify-content:flex-start;

}

.logo{

width:220px;

height:auto;

}

.header-center{

text-align:center;

}

.header-center h1{

font-size:72px;

font-weight:800;

letter-spacing:8px;

}

.header-center h2{

font-size:26px;

margin-top:6px;

}

.header-center p{

font-size:17px;

margin-top:6px;

color:#8fb3d9;

}

.weather-card{

background:#0d2d49;

border-radius:18px;

padding:18px;

border:1px solid rgba(255,255,255,.08);

}

.weather-title{

font-size:15px;

color:#8fb3d9;

margin-bottom:12px;

font-weight:700;

}

.weather-temp{

font-size:46px;

font-weight:800;

margin-bottom:10px;

}

.weather-info{

font-size:16px;

margin-bottom:6px;

}

.weather-date{

margin-top:14px;

font-size:15px;

color:#b8d2ea;

}
/* ===========================
        TIME & DATE
=========================== */

.grid4{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:14px;

    margin-bottom:18px;

}
.card{

    background:#0d2d49;

    border:1px solid rgba(255,255,255,.08);

    border-radius:16px;

    padding:18px;

    text-align:center;

    box-shadow:0 8px 22px rgba(0,0,0,.22);

}

.title{

    display:block;

    color:#8fb3d9;

    font-size:14px;

    letter-spacing:1px;

    margin-bottom:10px;

    font-weight:600;

}

.value{

    font-size:50px;

    font-weight:800;

    line-height:1.05;

}

.value-small{

    font-size:20px;

    font-weight:700;

    line-height:1.3;

}